<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../node_modules/jquery/dist/jquery.js"></script>
    <script src="../../ajax/matchResultAjax.js"></script>
    <script src="../../ajax/algorithm.js"></script>
    <link rel="stylesheet" href="../../public/style.css" type="text/css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <title>Speedway history service</title>
</head>

<body>

    <div id="wrapper">

        <%- include('../partials/header.ejs') -%>

        <main>
            <%- body %> 
        </main>

        <%- include('../partials/footer.ejs') -%>

    </div>

  

</body>

</html>