to jest zawartosc wybranej strony
<a href="/newResult">Przetwarzanie wynikow</a>
<div>
    <select name="sortBY">

        <option value="Book">Book</option>
        <option value="Copy">Copy</option>
        <option value="Page">Page</option>
      </select>
</div>