body
{
    background-image: url("../public/img/tlo.png");
   /* margin: 0px; */
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

#wrapper
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;

}

header
{
  /*  height: 65px;*/
    background-color: #485b3b;
    font-size: 20px;
    color: white;
    text-align: center;
    text-transform: uppercase;
   /* padding: 5px 0px 5px 0px; */
    letter-spacing: 3px;
    /*border-bottom: 2px solid #33402a;*/
    text-shadow:
    2px 2px 0 #33402a,
    -2px 2px 0 #33402a,
    -2px -2px 0 #33402a,
    2px -2px 0 #33402a;
}

footer
{
    margin-left: auto;
    margin-right: auto;
   /* height: 45px;*/
    background-color: #485b3b;
    font-size: 16px;
    color: white;
    text-align: center;
    text-transform: uppercase;
   /* padding: 5px 0px 5px 0px; */
    letter-spacing: 3px;
   /* border-bottom: 2px solid #33402a;*/
    text-shadow:
    2px 2px 0 #33402a,
    -2px 2px 0 #33402a,
    -2px -2px 0 #33402a,
    2px -2px 0 #33402a;
}

#square
{
    float:left;
    width: 50%;
}

.ptsInput
{
    width: 5%;
    margin-right: 3%;
}

.rdsInput
{
    width: 80%;
}

#labelId
{
    width:20%;
    float:left;
}
#inputId
{
    width:80%;
    float:left;
}

#teamLeft
{
    width:50%;
    float:left;
}

#teamRight
{
    width:50%;
    float:left;
}

#table
{
    font-size: 18px;
}

form
{
    border:1px solid red;
    margin:0 auto;
}

#formDiv
{
    text-align: center;
}

#tableDiv
{
    text-align: center;
    font-size: 18px;
    margin-bottom: 5px;
}

#tableDiv input
{
    width:2%;
    font-size: 17px;
}

#square2
{
    width:50%;
    float:left;
    padding-left: 15%;
}

#square3
{
    width:25%;
    float:left;
}

#tableDiv select
{
    width:17%;
    font-size: 17px;
}

.l1
{
    width:100px;
    display: inline-block;
}

.l2
{
    width:25px;
    display: inline-block;
}

optgroup
{
    font-size: 17px;
}

.a
{
    width: 50%;
    font-size: 18px;
}
.b
{
    width: 10%;
    font-size: 18px;
    background-color: #485b3b;
    color:white;
}
.b2
{
    width: 20%;
    font-size: 18px;
    background-color: #485b3b;
    color:white;
}
.c
{
    width: 30%;
    font-size: 18px;
}

.d
{
    border:1px solid red;
    margin:0 auto;
}

.e
{
    width: 20%;
    font-size: 18px;
}